<a href="{{global.path}}#content" class="skip_">Skip to content</a>
<div *ngIf="search.term"><p>the search term entered was:- {{ search.term }}</p></div>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Portal</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/accessibility" routerLinkActive="active">Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Inactive</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="search" type="search" name="search" placeholder="Search" [(ngModel)]="search.term"
                #search="ngModel" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a routerLink="/overview" routerLinkActive="active">
                    <div>Overview</div>
                </a>
            </li>
            <li>
                <a routerLink="/feature" routerLinkActive="active">
                    <div>Feature</div>
                </a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>